/*
 * Copyright (c) 2026 ITE Corporation. All Rights Reserved.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	mctp_i3c_target: mctp_i3c_target {
		compatible = "zephyr,mctp-i3c-target";
		i3c = <&i3c2>;
		endpoint-id = <11>;
	};

	mctp_i3c: mctp_i3c {
		compatible = "zephyr,mctp-i3c-controller";
		endpoints = <&mctp_endpoint0>;
		endpoint-ids = <11>;
	};

	aliases {
		i3c-controller = &i3c0;
	};
};

&i3c2 {
	status = "okay";

	pinctrl-0 = < &i3c2_clk_gpe2_default &i3c2_data_gpe3_default>;
	pinctrl-names = "default";

	/* TODO */
	// disable-read-abort;

	bcr = <0x06>;
	pid-random-value = <0x00000011>;
};

&i3c0 {
	zephyr,deferred-init;
	status = "okay";
	i3c-scl-hz = <7500000>;
	i3c-od-scl-hz = <1500000>;
	i2c-scl-hz = <400000>;

	pinctrl-0 = <&i3c0_clk_gpj3_default &i3c0_data_gpj4_default>;
	pinctrl-names = "default";

	/* dynamic address assignment: entdaa */
	mctp_endpoint0: mctp_endpoint0@5fa00000011 {
		zephyr,deferred-init;
		compatible = "zephyr,mctp-i3c-endpoint";
		reg = <0x00 0x05fa 0x00000011>;
		status = "okay";
	};
};

i3c_controller: &i3c0 {};
