# Copyright (c) 2020 ITE Corporation. All Rights Reserved.
# SPDX-License-Identifier: Apache-2.0

config UART_ITE_IT8XXX2
	bool "ITE serial uart driver"
	select SERIAL_HAS_DRIVER
	select SERIAL_SUPPORT_INTERRUPT
	help
	  This option enables the ITE serial uart driver.
	  This driver can be used for the serial hardware
	  available on ITE EV-boards.
